extends container
block content
    div
        h1.h1 Dont worry,be happy ;)
        p because no one actually cracked your password, Elaina is just learning to code.
        a(href=url) Click to restore password
